body {
	padding: 0;
	margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.cart-total-grandTotal, .compareTable-heading, .form-label--alternate, .swal2-modal .swal2-styled{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.productView{margin: 0;}

.productView-options {
    text-align: center;
}

.productView-options .form-action{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
