<div class="right_div">
    <a href="/reviews/">
    </a>
    <a href="/faqs/">
      <div class="iconbox">
        <img src="https://cdn11.bigcommerce.com/s-2eap4oekvs/images/stencil/original/image-manager/faq-icon.jpg?t=1698150286" width="30px" />
        <span style="font-size: 15px">FAQ</span>
      </div>
    </a>
    <a href="/cart.php">
      <div class="iconbox">
        <img src="https://cdn11.bigcommerce.com/s-2eap4oekvs/images/stencil/original/image-manager/cart-icon.jpg?t=1698150285" width="30px" />
        <span style="font-size: 15px">Cart</span>
      </div>
    </a>
</div>
