<div class="center_menu_div">
    <ul>
      <li class="outdoor">
        <a href="/outdoor-saunas" id="outdoor">Outdoor Saunas <i class="fa-solid fa-chevron-down" id="outdoor-icon"></i></a>
      </li>
      <li class="indoor">
        <a href="/indoor-saunas" id="indoor">Indoor Saunas <i class="fa-solid fa-chevron-down" id="indoor-icon"></i></a>
      </li>
      <li class="coldplunge">
        <a href="/cold-plunge" id="coldplunge">Cold Plunge <i class="fa-solid fa-chevron-down" id="coldplunge-icon"></i></a>
      </li>
      <li><a href="/sauna-plunge-kits/">Sauna & Plunge Kits</a></li>
    </ul>
</div>
