---
brands:
---

{{#partial "page"}}

<div class="container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <main class="page">
        <h1 class="page-heading">{{lang 'brand.label'}}</h1>
        {{{region name="brands_below_header"}}}
        <div class="page-content-subcategories">
            <ul class="navList">
                {{#each brands}}
                    <li class="navList-item">
                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">
                            <div class="image-wrap{{#unless image}} image-placeholder{{/unless}}">
                                {{> components/common/responsive-img
                                    image=image
                                    class="card-image"
                                    fallback_size=../theme_settings.brand_size
                                    lazyload=../theme_settings.lazyload_mode
                                    default_image=../theme_settings.default_image_brand
                                }}
                            </div>
                            <span>{{{name}}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{> components/common/paginator pagination.brands}}
        {{{region name="brands_below_content"}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
