// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    // margin-top: spacing("single"); // 1
    margin-top: 4.5rem;

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
    }
}

@media only screen and (min-width: 801px) {
    .body {
        margin-top: 4.5rem;
    }
}

.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

@media only screen and (min-width: 801px) {
    .page-sidebar {
        width: 26% !important;
        padding: 20px 20px 20px !important;
    }
    .page-sidebar + .page-content {
        width: 74% !important;
    }
}

#submit-btn-container {
    position: absolute; 
    bottom: 0px; 
    left: 0%; 
    width: 100%; 
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    #submit-btn-container  {
        bottom: -30px;
    }
}
