.navUser-wrap .right_div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navUser-wrap .right_div .iconbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 1098px) {
    .navUser-wrap {
        display: none;
    }
}

